<?xml version="1.0" encoding="UTF-8"?>
<beans 
	default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
	">
	<!-- spring注解驱动 -->
	<context:annotation-config></context:annotation-config>
	<!-- 组件扫描的范围 -->
	<context:component-scan base-package="cn.sz.gl"></context:component-scan>

	<!-- <context:property-placeholder location="classpath:myconn.properties" /> -->
	
	<!-- 如果一次要引入多个properties文件 -->
	<bean id="configurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
		<property name="locations">
			<array>
				<value>classpath:myconn.properties</value>
			</array>
		</property>
	</bean>
	
	<!-- 数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" >
		<property name="driverClassName" value="${mydriver}" ></property>
		<property name="url" value="${myurl}"></property>
		<property name="username" value="${myuser}" ></property>
		<property name="password" value="${mypwd}" ></property>
	</bean>
	
	<!-- 配置连接工厂  autowire="byName" -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"  >
		<property name="dataSource" ref="dataSource" ></property>
		<!-- 引入mybatis配置文件 -->
		<property name="configLocation" value="classpath:mybatis_config.xml" ></property>
		<!-- <property name="mapperLocations"  >
			<array>
				<value>classpath:xxx.xml</value>
			</array>
		</property> -->
	</bean>
	
	
	<!-- 创建了mybatis操作模板，改模板提供了一套增删改查的实现 -->
	<!-- <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg>
			<ref bean="sqlSessionFactory" />
		</constructor-arg>
	</bean> -->

	
	<!-- mvc注解驱动 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 视图处理器 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix" value="/" ></property>
		<property name="suffix" value=".jsp" ></property>
	</bean>

</beans>
